<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - StoreLocWatchApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StoreLocJonathanC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StoreLocWatchApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB35C1A61C5FB5D6007D01AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB35C1BA1C5FB5D7007D01AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB35C1C51C5FB5D7007D01AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB7981141C68EA7900B77D4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
